<div class="page-header">
  <h1>Here is a tshirt!</h1>
</div>

<div class="row" ng-controller="TestCtrl">
  <div class="span3">
    <pre class='plain'>
            __.-.__.-.__
          .'\ '-.__.-' /'.
         /  |   _      |  \
        /   |  <') ,/  |   \
        '-._/  (_==/   \_.-'
            |   ='-    |
            |          |
            |          |
            |          |
            '._      _.'
               `""""`
    </pre>
  </div>
  
  <div class="span9">
    {{ message }}
  </div>
  
  <div class="span9">
    <can-has-template message="message" />
  </div>
</div>
