<p> Here is a tshirt! </p>

<pre class='tshirt'>
        __.-.__.-.__
      .'\ '-.__.-' /'.
     /  |   _      |  \
    /   |  <') ,/  |   \
    '-._/  (_==/   \_.-'
        |   ='-    |
        |          |
        |          |
        |          |
        '._      _.'
           `""""`
</pre>

<div ng-controller='TestCtrl'>
  {{ message }}
</div>
