<p> Here is a tshirt! </p>

<pre>
        __.-.__.-.__
      .'\ '-.__.-' /'.
     /  |   _      |  \
    /   |  <') ,/  |   \
    '-._/  (_==/   \_.-'
        |   ='-    |
        |          |
        |          |
        |          |
        '._      _.'
           `""""`
</pre>

<%= form_tag '/logout' do %>
  Maybe you'd like to <button type=submit>Log Out</input>
<% end %>
