<p> Here is a tshirt! </p>

<pre>
        __.-.__.-.__
      .'\ '-.__.-' /'.
     /  |   _      |  \
    /   |  <') ,/  |   \
    '-._/  (_==/   \_.-'
        |   ='-    |
        |          |
        |          |
        |          |
        '._      _.'
           `""""`
</pre>
